*.[aox]
*.mod
exec/
bin/

build*/
install*/
log*

*.sw[a-p]

# Ignore the upp parm files so they do not get added to this repo
parm/upp

# Ignore the symlinked files in the ecf/scripts directory
ecf/scripts/upp/jwafs_upp_f*.ecf
ecf/scripts/upp/jwafs_upp_anl.ecf
ecf/scripts/grib2/1p25/jwafs_grib2_1p25_f*.ecf
ecf/scripts/grib2/0p25/jwafs_grib2_0p25_f*.ecf
ecf/scripts/grib2/0p25/blending/jwafs_grib2_0p25_blending_f*.ecf
ecf/scripts/gcip/jwafs_gcip_f*.ecf
ecf/scripts/grib/jwafs_grib_f*.ecf

# Ignore wafs.def
ecf/def/wafs.def
