# Ignore these
upp/jwafs_upp_f*.ecf
upp/jwafs_upp_anl.ecf
grib2/jwafs_grib2_f*.ecf
grib2_0p25/jwafs_grib2_0p25_f*.ecf
blending_0p25/jwafs_blending_0p25_f*.ecf
gcip/jwafs_gcip_f*.ecf
grib/jwafs_grib_f*.ecf
